/node_modules
/public/hot
/public/admin
/public/assets
/public/css/fontawesome
/public/fonts
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
