// main colors
/*var(--primary): rgba(59,89,152,.9);
/*var(--primary): #3b5998e6;
var(--secondary) : rgba(48, 76, 134, 0.9);
var(--secondary) : #304c86e6;
var(--tertiary) : #F9FBFD;
*/

$primary: #3b5998e6;
$secondary : #304c86e6;
$tertiary : #F9FBFD;







